
@{
    Layout = null;
}
@model PROG123.Models.PersonModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deleted</title>
</head>
<body>
    <h1>Deleted :o)</h1>
    <br>
    <h2>User    @Model.UserName</h2><br />
    <h2>Addr.   @Model.Address</h2><br />
    <h2>ID#     @Model.PersonID</h2><br />

</body>
</html>
