
@{
    Layout = null;
}
@model PROG123.Models.PersonModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>
        Status of the connection string and DB Connection <br /><br />
        Connection String:: @ViewBag.ConnStr
        <br />
        Database Connection:: @ViewBag.DBStatus
    </h3>
    <br />
    <h3 style="color:red;">Exception:: @ViewBag.Exception</h3>

    <form asp-action="Page2" method="post">
        <label>First Name</label> <input asp-for="FName" /><br />
        <label>Last Name</label> <input asp-for="LName" /><br />
        <label>Email</label> <input asp-for="Email" /><br />
        <label>Phone</label> <input asp-for="Phone" /><br />
        <label>Address</label> <input asp-for="Address" /><br />
        <label>Username</label> <input asp-for="UserName" /><br />
        <label>Password</label> <input asp-for="Password" /><br />

        <button type="submit">Submit</button>

    </form>

    <a href="@Url.Action("Page2", "Home")" >Page 2</a>
    
</body>
</html>
